body{
    background-color: bisque;
}

*{
    margin: 0;
    padding: 0%;
}
.main{
    background-color: black;
    color: #fff;
    height: auto;
    width: 270px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}
.btn{
    height: auto;
    width: 40px;
}